# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/app/debug.keystore

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

# Environment
.env

# Firebase
firebase.json
lib/firebase_options.dart

# Others
*.log
